/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'founders-grotesk';
  src: url('fonts/FoundersGroteskWeb-Light.eot');
  src: url('fonts/FoundersGroteskWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/FoundersGroteskWeb-Light.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'founders-grotesk';
  src: url('fonts/FoundersGroteskWeb-Medium.eot');
  src: url('fonts/FoundersGroteskWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/FoundersGroteskWeb-Medium.woff') format('woff');
  font-weight: bold;
}

/* main color: #194c2d */
html { font-size: 18px; }
body {
   color: #194c2d;
   font: 18px/1.1 'founders-grotesk', serif, sans-serif;
}

a {
   color: #194c2d;
   text-decoration: none;
}
a:hover { text-decoration: underline; }
h1, h2 {
   font-size: 30px;
   font-size: 1.667rem;
}
h1, h2, h3 { font-weight: bold; }
h3 {
   font-size: 18px;
   font-size: 1rem;
}

.page {
   width: 100%;
   max-width: 1380px;
   padding: 0 80px;
   margin: 0 auto 80px;
   box-sizing: border-box;
}

header {
   padding: 58px 80px;
   position: fixed;
   background: #fff;
   width: 100%;
   max-width: 1380px;
   margin: 0 -80px;
   box-sizing: border-box;
   z-index: 10;
}
header h1 {
   margin: 0;
   display: inline-block;
   line-height: 1;
}
header a {
   display: inline-block;
   line-height: 2.3;
   font-weight: bold;
}
header nav {
   display: inline-block;
   float: right;
   padding-top: 15px;
}
header nav a { }

.main-content {
   padding-top: 166px;
   z-index: 5;
}

.row {
   overflow: hidden;
   clear: both;
   margin: 0 -20px;
}

#instafeed {
   margin: -20px;
   overflow: hidden;
   clear: both;
}
#instafeed a {
   padding: 20px;
   float: left;
   width: 33.33%;
   box-sizing: border-box;
}
#instafeed a img {
   width: 100%;
   opacity: 0;
   -webkit-transition: opacity .2s;
   transition: opacity .2s;
}

.col-2, .col-4 {
   padding: 0 20px;
   float: left;
   width: 50%;
   box-sizing: border-box;
}
.col-4 { width: 25%; }

.about {
   margin-top: 70px;
   margin-bottom: 40px;
   font-size: 30px;
   font-size: 1.667rem;
   line-height: 1.2;
}
.about h2, .about p { margin: .733em 0; }
.about h2 {
   margin-top: 0;
}
.offerings {
   line-height: 1.4;
}
.offerings h3 {
   margin: 0;
}

hr {
   margin: 73px 0;
   border-top: solid 2px #e2e2e2;
}

footer {
   font-weight: bold;
}
footer .col-r:first-child { margin-left: -40px;

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
