/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'founders-grotesk';
  src: url('fonts/FoundersGroteskWeb-Light.eot');
  src: url('fonts/FoundersGroteskWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/FoundersGroteskWeb-Light.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'founders-grotesk';
  src: url('fonts/FoundersGroteskWeb-Medium.eot');
  src: url('fonts/FoundersGroteskWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/FoundersGroteskWeb-Medium.woff') format('woff');
  font-weight: bold;
}

/* main color: #194c2d */
html, body {
  color: #194c2d;
  font: 18px/1.1 'founders-grotesk', serif, sans-serif;
}

a {
   color: #194c2d;
   text-decoration: none;
}
a:hover { text-decoration: underline; }
h1, h2 {
   font-size: 30px;
}
h1, h2, h3 { font-weight: bold; }
h3 { font-size: 18px; }

.page {
   width: 100%;
   max-width: 1380px;
   padding: 0 80px;
   margin: 0 auto 50px;
   box-sizing: border-box;
}

header {
   padding: 15px 80px;
   top: 39px;
   position: absolute;
   background: #fff;
   width: 100%;
   max-width: 1380px;
   margin: 0 -80px;
   box-sizing: border-box;
   z-index: 10;
   -webkit-transition: padding .6s;
   transition: padding .6s;
}
.page.scrolled header {
    position: fixed;
    top: 0;
}
header h1 {
   margin: 0;
   display: inline-block;
   line-height: 2.3;
}
header a {
   display: inline-block;
   line-height: 2.3;
   font-weight: bold;
}
header nav {
   display: inline-block;
   float: right;
   padding-top: 18px;
}
header nav a { }

.main-content {
   padding-top: 179px;
   z-index: 5;
}

.row {
   overflow: hidden;
   clear: both;
   margin: -20px;
}

#instafeed {
   margin: -20px;
   overflow: hidden;
   clear: both;
}
#instafeed div {
   padding: 20px;
   float: left;
   width: 33.33%;
   box-sizing: border-box;
}
#instafeed a {
    background: #194c2d;
    display: inline-block;
}
#instafeed a img {
   width: 100%;
   opacity: 0;
   -webkit-transition: opacity .2s;
   transition: opacity .2s;
}
#instafeed a:hover img {
    opacity: .7 !important;
}

.col-2, .col-4 {
   padding: 20px;
   float: left;
   width: 50%;
   box-sizing: border-box;
}
.col-4 { width: 25%; }

.about {
   margin-top: 50px;
   margin-bottom: 21px;
   font-size: 30px;
   line-height: 1.1667;
}
.about h2, .about p { margin: 25px 0; }
.about h2 {
   margin-top: 0;
}
.offerings {
   line-height: 1.4;
}
.offerings h3 {
   margin: 0;
}

hr {
   margin: 73px 0;
   border-top: solid 1px #E2E2E2;
}

footer {
   font-weight: bold;
   line-height: 1.2;
}
footer .col-r:first-child {
  margin-left: -40px;
}

@media screen and (max-width: 1000px) {
    header { position: fixed; top: 0; }
    .main-content { padding-top: 100px; }
    .col-4 { width: 50%; }
}

@media screen and (max-width: 760px) {
    .page { padding: 0 40px; }
    header {
        margin: 0 -40px;
        padding: 15px 40px;
    }
    body { font-size: 16px; }
    h1, h2 { font-size: 24px; }
    h3 { font-size: 16px; }
    header nav { padding-top: 11px; }
    .about { font-size: 24px; }

    .col-2 { width: 100%; }
    #instafeed .item { width: 50%; }
}

@media screen and (max-width: 460px) {
    .col-4 { width: 100%; }
    #instafeed .item { width: 100%; }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
